@model SisPark.Models.User

@{
    ViewBag.Title = "Registro de un nuevo usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro de un nuevo usuario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Falló la creación del usuario, chequeá los campos")
    <div>

        <fieldset>

            <legend>User</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.UserTypeId, "Tipo de Usuario")
            </div>
            <div class="editor-field">
                @Html.DropDownList("UserTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.UserTypeId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Nombre)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Apellido)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Apellido)
                @Html.ValidationMessageFor(model => model.Apellido)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Telefono)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Telefono)
                @Html.ValidationMessageFor(model => model.Telefono)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Usuario)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Usuario)
                @Html.ValidationMessageFor(model => model.Usuario)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Clave)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Clave)
                @Html.ValidationMessageFor(model => model.Clave)
            </div>

            <p>
                <input type="submit" value="Crear" />
            </p>

        </fieldset>
    </div>
}

<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}